

.customNavigation{
    margin-bottom: 50px;
}

.firewallInfoModal--header {
    justify-content: !important"center";
}

.notification-setup--icons{
    margin:auto;
}

.notification-setup--icons:hover {
    cursor: pointer;
}